<div ng-controller="Struct.Umbraco.StructPimPicker.ItemPickerController" class="StructPIM">
    <struct-umbraco-struct-pim-picker-item-picker ng-model="model.value"
                allow-multiple="model.config.AllowMultiple == '1'"
                allow-product-selection="model.config.AllowProductSelection == '1'"
                allow-variant-selection="model.config.AllowVariantSelection == '1'"
                allow-variant-group-selection="model.config.AllowVariantGroupSelection == '1'"
                allow-product-group-selection="model.config.AllowProductGroupSelection == '1'"
                allow-product-collection-selection="model.config.AllowProductCollectionSelection == '1'"
                allow-variant-collection-selection="model.config.AllowVariantCollectionSelection == '1'"
                default-catalogue="model.config.DefaultCatalogue"
                only-master="model.config.OnlyMaster == '1'"
                is-disabled="false">
    </struct-umbraco-struct-pim-picker-item-picker>
</div>